* {
  box-sizing: border-box;
}

.txt {
  text-align: center;
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  background-color: #c5cfd8;
  border: 2px solid black;
}

.flexitem {
  height: 270px;
  width: 270px;
  margin: 3px;
}

.orange {
  background-color: orange;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.black {
  background-color: black;
}
.purple {
  background-color: purple;
}
.brown {
  background-color: brown;
}
